li{
	list-style:none;
}
li span{
	padding-left: 20px;
	cursor: pointer;
  background: url("../images/add.png") no-repeat center left;
}
li ul{
	transition:all 0.6s linear;
	height:0;overflow: hidden; 
}
.open{ 
	background: url("../images/minus.png") no-repeat center left; 
}
.open+ul{ height:105px; }